node_modules
npm-debug.log
.env
.env.local
.env.*.local
dist
*.md
.git
.gitignore
README.md
.eslintrc.*
.prettierrc.*
jest.config.*
tsconfig.json
babel.config.*
coverage
.nyc_output
logs
*.log
pids
*.pid
*.seed
*.pid.lock
lib-cov
.grunt
.lock-wscript
build/Release
.npm
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity
.env.test